<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<add name="ConexionCafeteria"
		 connectionString="Server=(localdb)\Servidor;Database=CafeteriaDB;Trusted_Connection=True;Integrated Security=True"
	 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>